[Desktop Entry]
Version=1.0
Name=Ltr Wii Server
Comment=Proxy connecting Wiimote to Linuxtrack
Exec=wii_server
Icon=linuxtrack-wii
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
Keywords=headtracking;wiimote;

